header {
	display: flex;
	justify-content: center;
	align-items: center;
}
body {
	font-size: 18px;
	font-family: "Open Sans", sans-serif;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
img {
}
