/*** main ***/
body {
	font-family: "Lora", serif;
	font-size: 16px;
	border-radius: 1em;
	margin: 0;
	padding: 0;
}
header,
footer,
.footer2 {
	margin: 0;
	text-align: center;
	padding: 1em;

	background-color: rgb(178, 202, 216);
}

/*** menu bar ***/
nav {
	background-color: #182935;
	text-align: center;
	box-shadow: 0 2px 15px gray;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav ul li a {
	display: grid;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
	font-size: 0.95rem;
}
/*** body ***/
main {
	max-width: 767px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
}
main section {
	margin: 0.5rem;
	background-color: #eee;
	border-radius: 0.8em;
	border: 0.5px solid #bbb;
}

h1 {
	font-family: "Outfit", sans-serif;
	padding: 20px;
	margin: auto;
	align-items: center;
}

h2 {
	font-family: "Outfit", sans-serif;
	margin: 0;
	padding: 0.8rem;
	text-align: center;
}
h3 {
	padding: 0rem;
	text-align: center;
	font-weight: 400;
	font-size: medium;
}
hr {
	position: relative;
	border: none;
	height: 2px;
	background: rgb(192, 192, 192);
	margin-bottom: 20px;
	width: 10%;
}
.name {
	font-family: "Outfit", sans-serif;
	background-color: rgb(178, 202, 216);
	border-radius: 0.5em 0.5em 0 0;
	margin: 0;
}

.content-1 {
	padding: 1rem;
	text-align: center;
}

/***target audience***/

.section2 {
	max-width: 767px;
	margin: 0 auto;
	padding: 1em;
	grid-template-columns: 1fr 1fr;
	padding: 0;
	margin: 0.5rem;
}

.content-2 {
	padding: 2rem;
	margin-left: 17rem;
	margin-top: -10rem;
}
picture {
	width: 30%;
	padding: 0.5rem;
	margin-left: 2rem;
	margin-top: 2rem;
	align-items: center;
	border: 0.3px solid #bbb;
	box-shadow: 0 0 20px #333;
}
.content-w {
	color: rgb(65, 65, 65);
	padding: 0;
	margin: 0;
	font-weight: bolder;
}

/***color scheme***/
.colors {
	max-width: 767px;
	text-align: center;
	padding: 1em;
	margin: 2em;
}

.colors th {
	background-color: rgb(212, 209, 209);
}
.colors td {
	width: 10%;
	height: 5em;
}
.primary {
	background-color: #090e20ff;
}
.secondary {
	background-color: #1a2c60ff;
}
.background {
	background-color: #f2f3f7ff;
}
.accent1 {
	background-color: #d9dce8ff;
}
.accent2 {
	background-color: #bfe6edff;
}
