body {
	font-family: "Domine", serif;
	color: #090e20ff;
	padding: 0;
	margin: 0;
	min-width: 760px;
}

h2,
h3,
p,
.weather figure {
	text-align: center;
}

h2 {
	text-shadow: rgb(145, 215, 228) 1px 5px 10px;
	font-weight: 600;
	line-height: 1em;
}
p {
	font-weight: 400;
}
main picture.heroimg img {
	width: 100%;
}

/** Discovery page**/
.container section p {
	font-size: smaller;
	font-family: "Domine", serif;
}

.label {
	font-family: "Domine", serif;
	font-weight: 700;
}

.visits {
	color: navy;
	font-weight: bolder;
	font-size: larger;
	width: 100%;
}

.today {
	color: navy;
}
.img-d {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	width: 100%;
	align-items: center;
	margin: 10px auto;
}

/*local Strage*/
.visitor {
	font-weight: 600;
}

/**header**/

.social {
	margin: 0;
	grid-column: 3;
	display: flex;
	justify-content: center;
}
.social img {
	padding: 0 1em;
}

.date {
	grid-column: 1/4;
	grid-row: 2/3;
	font-family: "Domine", serif;
	font-weight: 600;
	margin: 0.5rem;
	border: 1px solid #bbb;
	text-align: center;
	background-color: #eee;
}
#min-banner {
	display: grid;
	grid-row: 3/4;
	grid-column: 1/4;
}
#text {
	grid-column: 1/4;
	font-family: "Domine", serif;
	font-weight: 600;
	margin: 0;
	padding: 1rem;
	color: red;
}

nav button {
	grid-column: 1/2;
	margin: 0.5em 2vw;
	background: transparent;
	border: none;
	font-size: 3rem;
	color: rgb(142, 155, 206);
}

nav ul li a:hover {
	background: rgba(217, 220, 232, 0.3);
}

nav ul.open {
	display: block;
	position: absolute;
	background: #1a2c60ff;
	margin: 0;
}
picture .logo1 img {
	grid-row: 2/3;
}
nav ul li a {
	color: #f2f3f7ff;
	display: block;
	padding: 1rem 2vw;
	text-decoration: whitesmoke;
	text-align: center;
	border-top: 1px solid rgb(255, 255, 255, 0.5);
}
@media screen and (max-width: 412px) {
	/** menu **/
	header {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column: 1/4;
		grid-row: 1/2;
		align-items: center;
		background-color: #1a2c60ff;
	}
	nav ul {
		display: none;
	}
	nav ul {
		list-style: none;
		padding: 25px;
		width: 135px;
		height: 220px;
	}

	#hamburgerBtn span:nth-child(1) {
		display: block;
	}
	#hamburgerBtn span:nth-child(2) {
		display: none;
	}

	#hamburgerBtn.open span:nth-child(1) {
		display: none;
	}
	#hamburgerBtn.open span:nth-child(2) {
		display: block;
	}
	#humbuergerBtn {
		text-align: right;
	}
	/**content**/
	.heroimg {
		display: grid;
		grid-column: 1/2;
		grid-row: 1/2;
		min-width: 760px;
	}

	.content {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(6, auto);
		grid-row: 1;
		gap: 1.5em 0;
	}

	.event {
		justify-content: center;
		grid-column: 1/4;
		grid-row: 2/3;
		font-weight: bold;
		background-color: #d9dce8ff;
		padding: 3em;
	}

	.weather {
		display: block;
		margin: auto;
		grid-column: 1/4;
		grid-row: 3/4;
		background-color: #d9dce8ff;
		padding: 1em;
		width: 400px;
	}
	.weather figure {
		grid-template-columns: repeat(3, 1fr);
		grid-column: 2/3;
		padding: 0;
		margin: 0;
	}

	.icons {
		display: inline-block;
		align-self: center;
	}

	.join {
		display: none;
	}

	.newsRelease {
		grid-column: 1/4;
		grid-row: 4/5;
		font-weight: bold;
		background-color: #d9dce8ff;
		padding: 3em;
	}
	#spotlight {
		grid-template-columns: 1fr;
		text-align: center;
		grid-row: 5/6;
		background: rgb(71, 71, 71);
	}

	.spotlight1,
	.spotlight2 {
		display: block;
		background-color: #d9dce8ff;
		margin: 1em;
		padding: 1em;
	}

	.spotlight3 {
		display: none;
	}

	/** footer **/

	footer {
		display: grid;
		grid-template-columns: 1fr;
		background-color: #1a2c60ff;
		text-align: center;
		font-size: 19px;
		color: #f2f3f7ff;
	}
	.logo2 {
		grid-column: 1/2;
		margin: 0 auto;
	}
	.info {
		grid-column: 1/3;
		grid-row: 2/3;
		margin: 0.5em;
		line-height: 0.7em;
		color: #d9dce8ff;
	}
	hr {
		border: 1px inset;
	}
	.updated {
		grid-column: 1/3;
		grid-row: 3/4;
		margin: 1em;
		padding: 0.75rem;
		font-size: 10px;
		text-align: center;
	}

	a.map:link {
		color: #f2f3f7ff;
	}
	a.map:hover {
		color: orange;
	}
	a.map:visited {
		color: #bfe6edff;
	}
	a.map:active {
		color: red;
	}

	/** Form **/
	.member-t {
		grid-column: 1/2;
		text-align: center;
		border-radius: 10px;
		background-color: #d9dce8ff;
		padding: 0.5em;
		margin: 0;
	}
	.formgrid {
		margin: 30px;
		padding: 0;
	}
	.member-line {
		width: 20%;
		height: 15px;
		border: 0;
		box-shadow: 0 10px 10px -10px #bbb inset;
	}

	.form-btn {
		font-size: 1rem;
		color: #090e20ff;
		background-color: #d9dce8ff;
		border: 2px solid transparent;
		border-radius: 10px;
		padding: 10px 50px;
		margin-top: 1rem;
		position: relative;
	}

	.form-btn:active {
		transform: translateY(5px);
		border-bottom: none;
		background-color: #bfe6edff;
	}

	.form-card {
		border-radius: 2px;
		background: #fff;
		max-width: 500px;
		padding: 0;
		margin: 0;
	}

	.form-legend {
		padding: 1em 0 0;
		margin: 0 0 -0.5em;
		font-size: 1.5rem;
		text-align: center;
	}

	.form-element {
		position: relative;
		margin-top: 2.25rem;
		margin-bottom: 2.25rem;
	}

	.form-element-bar {
		position: relative;
		height: 1px;
		background: #999;
		display: block;
	}

	.form-element-bar::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: #337ab7;
		height: 2px;
		display: block;
		transform: rotateY(90deg);
	}

	.form-element-label {
		position: absolute;
		top: 0.75rem;
		line-height: 1.5rem;
		pointer-events: none;
		padding-left: 0.125rem;
		font-size: 1rem;
		overflow: hidden;
		text-overflow: ellipsis;
		margin: 0;
		color: #a6a6a6;
		transform: translateY(-50%);
		transform-origin: left center;
		transition: transform 0.2s ease, color 0.2s linear, opacity 0.2s linear;
	}

	.form-element-field {
		outline: none;
		height: 1.5rem;
		display: block;
		background: none;
		padding: 0.125rem 0.125rem 0.0625rem;
		font-size: 1rem;
		border: 0 solid transparent;
		line-height: 1.5;
		width: 100%;
		color: #333;
		box-shadow: none;
		opacity: 0.001;
		transition: opacity 0.28s ease;
	}

	.form-element-field::placeholder {
		color: #a6a6a6;
		transform: scale(0.7);
		transform-origin: left top;
	}

	.form-element-field:focus ~ .form-element-label {
		color: #337ab7;
	}

	.form-element-field.-hasvalue,
	.form-element-field:focus {
		opacity: 10;
	}

	.form-element-field.-hasvalue ~ .form-element-label,
	.form-element-field:focus ~ .form-element-label {
		transform: translateY(-100%) translateY(-0.5em) translateY(-2px)
			scale(0.9);
	}

	textarea.form-element-field {
		height: auto;
		min-height: 3rem;
	}
	.memership-d {
		display: none;
	}

	/** thank you form**/
	.t-container {
		min-height: 100vh;
		position: relative;
		box-sizing: border-box;
	}
	.t-text {
		text-align: center;
		font-size: 40px;
	}

	.t-btn {
		display: inline-block;
		text-decoration: none;
		font-size: 1rem;
		color: #090e20ff;
		background-color: #d9dce8ff;
		border: 2px solid transparent;
		border-bottom: solid 4px #627295;
		border-radius: 10px;
		padding: 0.5em 1em;
	}

	.t-btn:active {
		-webkit-transform: translateY(4px);
		transform: translateY(4px);
		border-bottom: none;
	}
	.fas .fa-check {
		align-items: center;
	}
	.container {
		max-width: 670px;
		width: 100%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		gap: 0.5em;
		grid-column: 1/3;
	}
	#contact {
		padding: 50px;
		margin: 0;
		grid-column: 1/3;
	}

	.gmap {
		height: 0;
		overflow: hidden;
		padding-bottom: 53%;
		position: relative;
		margin: 10px 0;
		grid-row: 3/4;
	}
	.contact-info {
		grid-row: 2/3;
		padding: 0;
	}
	.contact-info p {
		font-size: 25px;
		text-align: left;
		margin-left: 6em;
	}
}
/**directory-cardV**/

.cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	padding: 2em;
	grid-gap: 30px;
	font-size: 18px;
	text-align: center;
}
.cards section {
	box-shadow: 5px 5px 10px #777;
	border: none;
	padding: 0 0 1.5em;
}
.cards img {
	height: 90px;
	width: auto;
	box-shadow: 0 0 40px #777;
}

/**directory-listV**/

.cards .listV {
	grid-template-columns: repeat(4, 1fr);
	display: grid;
	background-color: gray;
	text-align: center;
	font-size: 20px;
}
.cards.listV section {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column: 1/5;
	margin: 0;
	padding: 0;
}
.cards.listV section:nth-child(odd) {
	background-color: #d9dce8ff;
}
.cards.listV img {
	display: none;
}

.cards h3 {
	text-shadow: rgb(145, 215, 228) 1px 5px 10px;
	text-transform: uppercase;
}

.btn-primary img {
	width: 100%;
	height: 30px;
}
main .btn-primary {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 2em;
}

/*main {
	font-size: 14px;
	margin: 3em;
	padding: 1em;
}

/**Contact Form**/

.gmap iframe {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
	font-family: "Domine", serif;
}

#contact h3 {
	display: block;
	font-size: 30px;
	margin-bottom: 10px;
}

#contact h4 {
	margin: 23px 0 11px;
	display: block;
	font-size: 16px;
	text-align: center;
	font-style: italic;
}
#contact hr {
	border: 1px inset;
	width: 100px;
	margin-bottom: 40px;
}

fieldset {
	border: none;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
	width: 100%;
	border: 1px solid #ccc;
	background: #fff;
	margin: 0 0 5px;
	padding: 10px;
}

#contact textarea {
	height: 100px;
	max-width: 100%;
	resize: none;
}

#contact button[type="submit"] {
	cursor: pointer;
	border-radius: 10px;
	width: 100%;
	border: none;
	border-bottom: 10px;
	background: #d9dce8ff;
	color: #090e20ff;
	margin: 0 0 5px;
	padding: 10px;
	font-size: 16px;
}

#contact button[type="submit"]:hover {
	background: #bfe6edff;
}

#contact button[type="submit"]:active {
	transform: translateY(5px);
	border-bottom: none;
	background-color: #bfe6edff;
}

#contact input:focus,
#contact textarea:focus {
	outline: 0;
	border: 1px solid #bfe6edff;
}
.line {
	font-weight: bolder;
	font-size: 30px;
	margin-right: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-shadow: none;
}
.contact-info img {
	width: 40px;
}
.line:before,
.line:after {
	border-top: 1px solid black;
	content: "";
	width: 190px;
}
.line:before {
	margin-right: 20px;
}
.line:after {
	margin-left: 20px;
}
