body {
	font-family: "Domine", serif;
	color: #090e20ff;
	padding: 0;
	margin: 0;
}

h2,
h3,
p {
	text-align: center;
}

h2,
h3 {
	font-weight: 600;
	line-height: 0.5em;
}
p {
	font-weight: 400;
}
.content div {
	margin: 1em;
	padding: 1em;
}

/**header**/
header {
	background-color: #1a2c60ff;
	padding: 5px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	border-bottom: 1px solid #bbb;
}
.logo {
	display: flex;
	align-items: center;
	margin-left: 1rem;
}
.logo img {
	width: 100%;
	height: auto;
}
.social {
	margin-right: 1.5rem;
}

.date {
	font-family: "Domine", serif;
	font-weight: 600;
	margin: 0.5rem;
	padding: 0.75rem;
	border: 1px solid #bbb;
	text-align: center;
	background-color: #eee;
}
#text {
	font-family: "Domine", serif;
	font-weight: 600;
	margin: 0.5rem;
	padding: 0.75rem;
	border: 1px solid #bbb;
	text-align: center;
	background-color: rgb(248, 223, 240);
}

/** menu **/
nav button {
	display: grid;
	margin: 0.2em 2vw;
	background: transparent;
	border: none;
	font-size: 2rem;
	color: rgb(142, 155, 206);
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
}

nav ul li a {
	color: #f2f3f7ff;
	display: block;
	padding: 1rem 2vw;
	text-decoration: whitesmoke;
	text-align: right;
	border-top: 1px solid rgb(255, 255, 255, 0.5);
}

nav ul li a:hover {
	background: rgba(217, 220, 232, 0.3);
}

nav ul {
	display: none;
}
nav ul.open {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background: #1a2c60ff;
}
#hamburgerBtn span:nth-child(1) {
	display: block;
}
#hamburgerBtn span:nth-child(2) {
	display: none;
}

#hamburgerBtn.open span:nth-child(1) {
	display: none;
}
#hamburgerBtn.open span:nth-child(2) {
	display: block;
}
#humbuergerBtn {
	text-align: right;
}
@media screen and (min-width: 656px) {
	/**content**/
	.content {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		margin: 10px auto;
	}

	.content div {
		margin: 1em;
		padding: 1em;
	}

	.hero {
		border: solid #1a2c60ff;
	}
	.event {
		font-weight: bold;
		background-color: #d9dce8ff;
	}

	.weather {
		height: 280px;
		width: auto;
		padding: 1em;
		margin: 0px 60px 0px;
		background-color: #d9dce8ff;
		text-align: center;
	}

	.join {
		display: none;
	}

	.newsRelease {
		padding: 2em;
		margin: 2em 0;
		font-weight: bold;
		background-color: #d9dce8ff;
	}
	.spotlight1 {
		background-color: #d9dce8ff;
		border-bottom: solid 4px rgb(172, 176, 196);
		box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.25);
	}
	.spotlight2 {
		background-color: #d9dce8ff;
		border-bottom: solid 4px rgb(172, 176, 196);
		box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.25);
	}
	.spotlight3 {
		display: none;
	}
	#spotlight {
		background: #f2f3f7ff;
		text-align: center;
	}

	/** footer */
	footer {
		font-family: "Quicksand", sans-serif;
		margin: 1em auto;
		padding: 1em;
		background-color: #1a2c60ff;
		text-align: center;
		font-size: 19px;
		color: #f2f3f7ff;
	}
	.info {
		font-size: 1em;
		line-height: 0.7em;
	}
	hr {
		display: block;
		border: 1px inset;
	}
	.updated {
		margin: 0;
		padding: 0.75rem;
		font-size: 1px;
		text-align: center;
	}
}
