body {
	font-family: "Domine", serif;
	color: #090e20ff;
	padding: 0;
	margin: 0;
}

h2,
h3,
p {
	text-align: center;
}

p {
	font-weight: 400;
}

/**header**/

.date {
	grid-column: 1/4;
	grid-row: 2/3;
	font-family: "Domine", serif;
	font-weight: 600;
	margin: 0.5rem;
	border: 1px solid #bbb;
	text-align: center;
	background-color: #eee;
}
#text {
	font-family: "Domine", serif;
	font-weight: 600;
	margin: 0.5rem;
	padding: 0.75rem;
	text-align: center;
}
@media screen and (min-width: 1201px) {
	/** menu **/
	header {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		align-items: center;
		background-color: #1a2c60ff;
	}
	.logo1 {
		grid-column: 1;
		grid-row: 1;
		display: flex;
		justify-content: center;
	}

	nav button {
		display: none;
	}

	nav ul {
		list-style: none;
		display: flex;
		grid-column: 2;
	}

	nav ul li a {
		color: #f2f3f7ff;
		display: block;
		padding: 1rem 2vw;
		text-decoration: whitesmoke;
		text-align: center;
		font-size: 13px;
		border-bottom: 1px solid rgb(255, 255, 255, 0.5);
	}

	nav ul li a:hover {
		background: rgba(217, 220, 232, 0.3);
	}
	nav ul.open {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		background: #1a2c60ff;
	}
	#hamburgerBtn span:nth-child(1) {
		display: none;
	}
	#hamburgerBtn span:nth-child(2) {
		display: none;
	}

	#hamburgerBtn.open span:nth-child(1) {
		display: none;
	}
	#hamburgerBtn.open span:nth-child(2) {
		display: none;
	}
	button #humbuergerBtn {
		display: none;
	}

	/** Home-content **/

	main {
		max-width: 1300px;
		margin: 10px auto;
		display: grid;
	}
	.content {
		display: grid;
		grid-template-columns: 1fr 2fr;
		margin: 1em;
		gap: 1em;
	}

	h2,
	h3 {
		font-weight: 600;
		line-height: 1em;
	}
	.event {
		grid-column: 1;
		grid-row: 1/2;
		padding: 0 3em;
		background-color: #d9dce8ff;
	}
	.weather {
		grid-column: 1;
		grid-row: 2;
		background-color: #d9dce8ff;
	}

	.heroimg {
		display: flex;
		grid-row: 1/3;
		align-items: stretch;
	}
	main .heroimg img {
		width: 100%;
	}

	.newsRelease {
		padding: 0 2em;
		margin: 0;
		display: grid;
		grid-column: 2/3;
		grid-row: 3/4;
		background-color: #d9dce8ff;
	}
	.join-btn1 {
		padding: 0;
		border-radius: 20px;
		background-color: rgb(200, 231, 236);
		border: none;
		box-shadow: 6px 6px 3px rgba(94, 93, 93, 0.25);
	}
	.join-btn1:hover {
		background-color: rgb(185, 221, 228);
	}
	.join-btn1:active {
		-webkit-transform: translate(0, 2px);
		-moz-transform: translate(0, 2px);
		transform: translate(0, 2px);
		border-bottom: none;
	}

	.join {
		display: grid;
		grid-column: 1/2;
		grid-row: 3/4;
		background-color: #d9dce8ff;
	}
	.join-btn2 {
		display: block;
		margin: 45px auto;
		border-radius: 10px;
		width: 200px;
		background-color: #bfe6edff;
		border: none;
		box-shadow: 6px 6px 3px rgba(94, 93, 93, 0.25);
	}
	.join-btn2:hover {
		background-color: rgb(143, 172, 177);
	}
	.join-btn2:active {
		-webkit-transform: translate(0, 2px);
		-moz-transform: translate(0, 2px);
		transform: translate(0, 2px);
		border-bottom: none;
	}

	#spotlight {
		grid-template-rows: repeat(3 1fr);
		grid-column: 3;
		grid-row: 1/4;
		margin: 1em auto;
		text-align: center;
		width: 290px;
	}
	.spotlight1,
	.spotlight2,
	.spotlight3 {
		display: block;
		background-color: #d9dce8ff;
		padding: 2px;
		margin: 5px;
	}
	#spotlight h2 {
		font-size: 18px;
	}
	.icons {
		width: 30px;
	}

	/** footer */
	footer {
		display: grid;
		grid-template-columns: 1fr 1fr;
		min-width: 760px;
		margin: 0;
		padding: 0;
		background-color: #1a2c60ff;
		text-align: center;
		padding: 0.5em;
		font-size: 19px;
		color: #f2f3f7ff;
		bottom: 0;
	}
	hr {
		border: 1px inset;
	}
	div.info {
		margin: 0;
		padding: 0;
		width: 220px;
	}
	.logo2 {
		grid-column: 1;
		justify-content: center;
		margin-left: 12em;
	}

	.updated {
		grid-column: 1/3;
		grid-row: 3/4;
		margin: 1em;
		padding: 0.75rem;
		font-size: 20px;
		text-align: center;
	}
	/** discovery-page**/
	@media screen and (max-width: 1500px) {
		.container {
			margin: 1rem auto;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr;
		}
	}
	/*Thank you-form*/
	.formgrid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin: 0;
		padding: 0;
	}
	h3 .member-h3 {
		display: none;
	}
	.member-t {
		grid-column: 1/3;
		text-align: center;
		border-radius: 10px;
		background-color: #d9dce8ff;
		padding: 1em;
		margin: 50px;
	}
	.membership-t {
		font-size: 25px;
	}
	.membership-m {
		font-style: italic;
		font-size: 18px;
		text-align: center;
	}
	.memership-d {
		grid-column: 2/3;
		grid-row: 2/3;
		background-color: #bfe6edff;
		opacity: 1;
		padding: 4em;
		margin: 5%;
		border-radius: 10px;
	}
	.membership-text {
		text-align: left;
		font-size: 20px;
		color: rgb(184, 8, 8);
		font-weight: 600;
	}

	.membership-descript {
		text-align: left;
		margin-left: 2em;
	}
	.member-img {
		width: 20%;
	}
	.form-card {
		grid-column: 1/2;
		grid-row: 2/3;
		padding: 2em;
		margin-top: 10%;
	}
	.member-line {
		display: none;
	}
	.member-join {
		display: none;
	}

	.form-btn {
		font-size: 1rem;
		color: #090e20ff;
		background-color: #d9dce8ff;
		border: 2px solid transparent;
		border-radius: 10px;
		padding: 10px 50px;
		margin-top: 1rem;
		position: relative;
	}

	.form-btn:active {
		transform: translateY(5px);
		border-bottom: none;
		background-color: #bfe6edff;
	}

	.form-legend {
		padding: 1em 0 0;
		margin: 0 0 -0.5em;
		font-size: 1.5rem;
		text-align: center;
	}

	.form-element {
		position: relative;
		margin-top: 2.25rem;
		margin-bottom: 2.25rem;
	}

	.form-element-bar {
		position: relative;
		height: 1px;
		background: #999;
		display: block;
	}

	.form-element-label {
		position: absolute;
		top: 0.75rem;
		line-height: 1.5rem;
		pointer-events: none;
		padding-left: 0.125rem;
		font-size: 1rem;
		overflow: hidden;
		text-overflow: ellipsis;
		margin: 0;
		color: #a6a6a6;
		transform: translateY(-50%);
		transform-origin: left center;
		transition: transform 0.2s ease, color 0.2s linear, opacity 0.2s linear;
	}

	.form-element-field {
		outline: none;
		height: 1.5rem;
		display: block;
		background: none;
		padding: 0.125rem 0.125rem 0.0625rem;
		font-size: 1rem;
		border: 0 solid transparent;
		line-height: 1.5;
		width: 100%;
		color: #333;
		box-shadow: none;
		opacity: 0.001;
		transition: opacity 0.28s ease;
	}

	input:focus,
	textarea:focus,
	select:focus {
		background-color: #bfe6edff;
	}

	.form-element-field::placeholder {
		color: #a6a6a6;
		transform: scale(0.7);
		transform-origin: left top;
	}
	input.form-element-field:not(:placeholder-shown) ~ .form-element-label,
	textarea.form-element-field:not(:placeholder-shown) ~ .form-element-label {
		transform: translateY(-100%) translateY(-0.5em) translateY(-2px)
			scale(0.9);
	}

	.form-element-field:focus ~ .form-element-label {
		color: #337ab7;
	}

	.form-element-field.-hasvalue,
	.form-element-field:focus {
		opacity: 1;
	}

	input.form-element-field:not(:placeholder-shown),
	textarea.form-element-field:not(:placeholder-shown) {
		opacity: 1;
	}
	.form-element-field.-hasvalue ~ .form-element-label,
	.form-element-field:focus ~ .form-element-label {
		transform: translateY(-100%) translateY(-0.5em) translateY(-2px)
			scale(0.9);
	}

	textarea.form-element-field {
		height: auto;
		min-height: 3rem;
	}
	select.form-element-field {
		appearance: none;
	}

	.form-select .form-element-bar::before {
		content: "";
		position: absolute;
		height: 0.5em;
		width: 0.5em;
		border-bottom: 1px solid rgb(184, 8, 8);
		border-right: 1px solid rgb(184, 8, 8);
		display: block;
		right: 0.5em;
		bottom: 0;
		transition: transform 0.28s ease;
		transform: translateY(-100%) rotateX(0deg) rotate(45deg);
		will-change: transform;
	}
	.container {
		max-width: 670px;
		width: 100%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		gap: 0.5em;
		grid-column: 1/2;
	}
	.gmap {
		height: 0;
		overflow: hidden;
		padding-bottom: 53%;
		position: relative;
		margin: 10px;
		grid-row: 1/4;
	}
	.contact-info {
		grid-column: 2/3;
		padding: 0;
	}
	#contact {
		padding: 40px;
		margin: 0;
		grid-column: 1/3;
	}
	.gmap {
		height: 0;
		overflow: hidden;
		padding-bottom: 53%;
		position: relative;
		margin: 85px 59px 0px 43px;
		grid-column: 2/3;
		grid-row: 2/3;
	}
	.contact-info {
		grid-column: 1/3;
		padding: 0;
		grid-row: 2;
		margin-bottom: 1em;
	}
	.contact-info p {
		font-size: 20px;
		text-align: left;
		margin-left: 6em;
	}
}
