body {
	font-family: "Domine", serif;
	color: #090e20ff;
	padding: 0;
	margin: 0;
}

h2,
h3,
p {
	text-align: center;
}

h2,
h3 {
	font-weight: 600;
}
p {
	font-weight: 400;
}
.content div {
	margin: 1em;
	padding: 1em;
}

/**header**/

header {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column: 1/4;
	grid-row: 1/2;
	align-items: center;
	min-width: 760px;
	background-color: #1a2c60ff;
}

.logo1 {
	grid-column: 2/3;
}

.social {
	grid-column: 3/4;
	text-align: right;
}
.social img {
	padding: 1em;
}

.date {
	grid-column: 1/4;
	grid-row: 2/3;
	font-family: "Domine", serif;
	font-weight: 600;
	margin: 0.5rem;
	border: 1px solid #bbb;
	text-align: center;
	background-color: #eee;
}
#text {
	font-family: "Domine", serif;
	font-weight: 600;
	margin: 0.5rem;
	padding: 0.75rem;
	text-align: center;
}
@media screen and (max-width: 1079px) {
	/** menu **/
	nav button {
		display: grid;
		margin: 0.2em 2vw;
		background: transparent;
		border: none;
		font-size: 2rem;
		color: rgb(142, 155, 206);
	}

	nav ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: grid;
	}

	nav ul li a {
		color: #f2f3f7ff;
		display: block;
		padding: 1rem 2vw;
		text-decoration: whitesmoke;
		text-align: right;
		border-top: 1px solid rgb(255, 255, 255, 0.5);
	}

	nav ul li a:hover {
		background: rgba(217, 220, 232, 0.3);
	}

	nav ul {
		display: none;
	}
	nav ul.open {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background: #1a2c60ff;
	}
	#hamburgerBtn span:nth-child(1) {
		display: block;
	}
	#hamburgerBtn span:nth-child(2) {
		display: none;
	}

	#hamburgerBtn.open span:nth-child(1) {
		display: none;
	}
	#hamburgerBtn.open span:nth-child(2) {
		display: block;
	}
	#humbuergerBtn {
		text-align: right;
	}
	/**content**/
	.content {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.join-btn1 {
		padding: 0;
		border-radius: 20px;
		background-color: rgb(200, 231, 236);
		border: none;
		box-shadow: 6px 6px 3px rgba(94, 93, 93, 0.25);
	}
	.join-btn1:hover {
		background-color: rgb(185, 221, 228);
	}
	.join-btn1:active {
		-webkit-transform: translate(0, 2px);
		-moz-transform: translate(0, 2px);
		transform: translate(0, 2px);
		border-bottom: none;
	}

	.newsRelease {
		padding: 2em;
		margin: 2em 0;
		display: grid;
		grid-column: 1/4;
		grid-row: 2/3;
		background-color: #d9dce8ff;
	}

	.join {
		display: grid;
		grid-column: 1/4;
		grid-row: 4/5;
		background-color: #d9dce8ff;
	}
	.join-btn2 {
		padding: 0.9em;
		margin: 10px 5px 10px 10px;
		border-radius: 10px;
		background-color: #bfe6edff;
		border: none;
		box-shadow: 6px 6px 3px rgba(94, 93, 93, 0.25);
	}
	.join-btn2:hover {
		background-color: rgb(143, 172, 177);
	}
	.join-btn2:active {
		-webkit-transform: translate(0, 2px);
		-moz-transform: translate(0, 2px);
		transform: translate(0, 2px);
		border-bottom: none;
	}
	.heroimg {
		grid-column: 1/3;
		margin: 1em;
		border: solid #d9dce8ff;
	}
	#spotlight {
		display: flex;
		text-align: center;
		grid-column: 1/4;
		grid-row: 3/4;
		justify-content: center;
		background: #f2f3f7ff;
	}

	.spotlight1 {
		background-color: #d9dce8ff;
		border-bottom: solid 4px rgb(172, 176, 196);
		box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.25);
	}
	.spotlight2 {
		background-color: #d9dce8ff;
		border-bottom: solid 4px rgb(172, 176, 196);
		box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.25);
	}
	.spotlight3 {
		display: none;
	}

	.event {
		grid-row: 5/6;
		background-color: #d9dce8ff;
	}

	.weather {
		grid-row: 5/6;
		background-color: #d9dce8ff;
	}
	/** footer */
	footer {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column: 1/3;
		grid-row: 1/2;
		min-width: 760px;
		font-family: "Quicksand", sans-serif;
		background-color: #1a2c60ff;
		text-align: center;
		font-size: 19px;
		color: #f2f3f7ff;
	}

	.logo2 {
		margin-left: 3em;
	}
	.info {
		font-size: 1em;
		line-height: 0.7em;
	}
	hr {
		border: 1px inset;
	}
	.updated {
		grid-column: 1/3;
		margin: 0;
		padding: 0;
		font-size: 5px;
		text-align: center;
	}
	/** Form **/
	.member-t {
		grid-column: 1/2;
		text-align: center;
		border-radius: 10px;
		background-color: #d9dce8ff;
		padding: 1em;
		margin: 0;
	}

	.formgrid {
		min-width: 760px;
		margin: 0;
		padding: 0;
	}
	.member-line {
		width: 20%;
		height: 15px;
		border: 0;
		box-shadow: 0 10px 10px -10px #bbb inset;
	}

	.form-btn {
		font-size: 1rem;
		color: #090e20ff;
		background-color: #d9dce8ff;
		border: 2px solid transparent;
		border-radius: 10px;
		padding: 10px 50px;
		margin-top: 1rem;
		position: relative;
	}

	.form-btn:active {
		transform: translateY(5px);
		border-bottom: none;
		background-color: #bfe6edff;
	}

	.form-card {
		border-radius: 2px;
		background: #fff;
		max-width: 500px;
		padding: 0;
		margin: 50px auto;
	}

	.form-legend {
		padding: 1em 0 0;
		margin: 0 0 -0.5em;
		font-size: 1.5rem;
		text-align: center;
	}

	.form-element {
		position: relative;
		margin-top: 2.25rem;
		margin-bottom: 2.25rem;
	}

	.form-element-hint {
		font-size: 1rem;
		color: #a6a6a6;
		display: block;
	}

	.form-element-bar {
		position: relative;
		height: 1px;
		background: #999;
		display: block;
	}

	.form-element-label {
		position: absolute;
		top: 0.75rem;
		line-height: 1.5rem;
		pointer-events: none;
		padding-left: 0.125rem;
		z-index: 1;
		font-size: 1rem;
		font-weight: normal;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin: 0;
		color: #a6a6a6;
		transform: translateY(-50%);
		transform-origin: left center;
		transition: transform 0.28s ease, color 0.28s linear,
			opacity 0.28s linear;
	}

	.form-element-field {
		outline: none;
		height: 1.5rem;
		display: block;
		background: none;
		padding: 0.125rem 0.125rem 0.0625rem;
		font-size: 1rem;
		border: 0 solid transparent;
		line-height: 1.5;
		width: 100%;
		color: #333;
		box-shadow: none;
		opacity: 0.001;
	}

	input:focus,
	textarea:focus,
	select:focus {
		background-color: #bfe6edff;
	}

	.form-element-field::placeholder {
		color: #a6a6a6;
		transform: scale(0.7);
		transform-origin: left top;
	}
	input.form-element-field:not(:placeholder-shown) ~ .form-element-label,
	textarea.form-element-field:not(:placeholder-shown) ~ .form-element-label {
		transform: translateY(-100%) translateY(-0.5em) translateY(-2px)
			scale(0.9);
	}

	.form-element-field:focus ~ .form-element-label {
		color: #337ab7;
	}

	.form-element-field.-hasvalue,
	.form-element-field:focus {
		opacity: 1;
	}
	input.form-element-field:not(:placeholder-shown),
	textarea.form-element-field:not(:placeholder-shown) {
		opacity: 1;
	}
	.form-element-field.-hasvalue ~ .form-element-label,
	.form-element-field:focus ~ .form-element-label {
		transform: translateY(-100%) translateY(-0.5em) translateY(-2px)
			scale(0.9);
		pointer-events: auto;
	}

	textarea.form-element-field {
		height: auto;
		min-height: 3rem;
	}
	.memership-d {
		display: none;
	}
}
