body {
	padding: 0;
	margin: 0;
}

/**header**/
header {
	background-color: #1a2c60ff;
	padding: 5px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 900px;
	margin: 0 auto;
	border-bottom: 1px solid #bbb;
}
.logo {
	display: flex;
	align-items: center;
	margin-left: 1rem;
}
.logo img {
	width: 200px;
	height: auto;
}
.social {
	margin-right: 1.5rem;
}
/** header **/
nav button {
	display: grid;
	margin: 0.2em 2vw;
	background: transparent;
	border: none;
	font-size: 2rem;
	color: rgb(142, 155, 206);
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
}

nav ul li a {
	color: #f2f3f7ff;
	display: block;
	padding: 1rem 2vw;
	text-decoration: whitesmoke;
	text-align: right;
	border-top: 1px solid rgb(255, 255, 255, 0.5);
}

nav ul li a:hover {
	background: rgba(217, 220, 232, 0.3);
}

nav ul {
	display: none;
}
nav ul.open {
	display: block;
}
#hamburgerBtn span:nth-child(1) {
	display: block;
}
#hamburgerBtn span:nth-child(2) {
	display: none;
}

#hamburgerBtn.open span:nth-child(1) {
	display: none;
}
#hamburgerBtn.open span:nth-child(2) {
	display: block;
}
#humbuergerBtn {
	text-align: right;
}
footer {
	margin: 2em auto;
	padding: 0;
	background-color: #1a2c60ff;
	text-align: center;
	color: #f2f3f7ff;
}
.info {
	font-size: 1em;
	line-height: 0.7em;
}
/**content**/
main {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr auto;
	margin: 10px auto;
}
.hero {
	grid-column: 1;
}

/**date**/

.date {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0.75rem;
	background-color: #eee;
	text-align: center;
}
.updated {
	font-size: 0.8em;
}
